/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    height: 100%;
    background-color: transparent;
}

html {
    font-family: Verdana, Arial, sans-serif;
    font-size: 2vw; /* logo is also scaled by width of the screen */
}
a,
a:active,
a:visited {
    color: rgba(255,89,32,1);
}

img.logo {
    width: 50%;
    padding-left: 25%;
}

video#bgvid {
    position: fixed;
    z-index: -200;
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background: url(../media/whitefade.png) no-repeat;
    background-size: cover;
}

.parallax,
.parallax_clone {
    padding: 8vh 0;
    visibility: hidden; /* to hide them until initializing is done etc. */
    width: 100%;
}
.content span {
    padding: .4em;
    text-shadow: 0 0 3px #fff;
    line-height: 1.5em;
    /*background-color: rgba(255,255,255,.4);*/
}

.content {
    width: 100%;
    text-align: center;
    /*background-color: rgba(200,200,200,.4);*/
}
.content.parallax,
.content.parallax_clone {
    padding: 16vh 0;
}

.spacer {
    height: 100vh;
    background: transparent;
}
.spacer.half {
    height: 50vh;
}

@media (max-width: 590px) {
    /* and (max-height: 650px)*/
    html {
        font-size: 6vw;
    }
    video#bgvid {
        left: -15vh
    }
    img.logo {
        width: 80%;
        padding-left: 10%;
    }

}
